on: [push, pull_request]

name: E2E

jobs:

  test:
    name: Test Fuzion Market
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.66.0
          target: wasm32-unknown-unknown
          override: true

      - name: Install bc
        run: sudo apt-get install -y bc

      - name: Test contract
        run: ./e2e/test_e2e.sh